body {background-color: black;
    color: white;
 
}

h1 {font-size: 300%; 
    font-family: Arial;

}

h2 {font-size: 150%;
    font-family: Arial;

}

h3 { font-size: 150%;
    font-family: Arial;

}

p { font-family: 'Arial Narrow Bold';
    
}

a { color: darkcyan;

}
a:hover {
    color: cyan;
}